name: editorconfig-checker

on:
    pull_request:
    push:

jobs:
    build:
      name: editorconfig-checker
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4.1.6
        - uses: editorconfig-checker/action-editorconfig-checker@main # current tag v1.0.0 is really out-of-date
        - run: editorconfig-checker
